*{
    max-width:100%
}
:root{
    --primarycolor:#8AB082;
    --secondarycolor:#8F8389;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
    --textColor: white;
    --light-grey:#f2f2f2; 
    --d-grey:#b3b3b3;

}
.avatar{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.avatar-user-img{
    height: 5rem;
    width: 5rem;
    padding: 1rem;
}
.avatar-16{
    height: 16px;
    width: 16px;
    padding: 1rem;
}
.avatar-24{
    height: 24px;
    width: 24px;
    padding: 1rem;
}
.avatar-32{
    height: 32px;
    width: 32px;
    padding: 1rem;
}
.avatar-48{
    height: 48px;
    width: 48px;
    padding: 1rem;
}
.avatar-64{
    height: 64px;
    width: 64px;
    padding: 1rem;
}
.avatar-96{
    height: 96px;
    width: 96px;
    padding: 1rem;
}

.primary-btn{
    color: whitesmoke;
    background-color: var(--primarycolor);
    padding: 10px;
    border-style: none;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.secondary-btn{
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px;
}

.secondary-btn:hover{
    background-color: var(--primarycolor);
    color: whitesmoke;
}
.p-btn:hover{
    box-shadow: 0 12px 16px 0 var(--secondarycolor),0 15px 50px 0 var(--secondarycolor);
}
.nav-bar{
    background-color: var(--primarycolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav{
    list-style: none;
    display: flex;
    padding: 0.5rem;
    max-width: 50%;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
a:hover{
    background-color:var(--secondarycolor);
}
.ham{
    visibility: hidden;
}

.alert{
    border: 1px solid transparent;
    max-width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
}
.primary-alert{
    color: #004085;
    border-color: var(--primary);
    background-color: #cce5ff;
}
.secondary-alert{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: var(--secondary);
}
.danger-alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: var(--danger);
}
.warning-alert{
    color: #856404;
    background-color: #fff3cd;
    border-color: var(--warning);
}
.success-alert{
    color: #155724;
    background-color: #d4edda;
    border-color: var(--success);
}
.input-fields{
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 20px;
}
.primary{
    border-color: var(--primary);
}
.success{
    border-color: var(--success);
}
.warning{
    border-color: var(--warning);
}
.failure{
    border-color: var(--danger);
}
.modal-btn{
    color: whitesmoke;
    background-color: var(--primarycolor);
    padding: 20px;
    border-style: none;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
    width: 20%; 
     font-size: 25px; 
}
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: centre;
}
.modal{
    border: var(--d-grey) 1px solid;
    width: 50%;
    border-radius: 2px;
}
.modal-title{
    margin: 10px 0 0 10px;
    font-size: 1.5rem;
}
.close-icon{
    height: 13px;
    width: 13px;
    position: relative;
    right: 20px;
    top: 12px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}
.modal-body{
    margin: 2px 10px;
    padding: 4px 0;
}
hr{
    border: solid 0.1px var(--light-grey);
}
.badge{
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    border: 1px white solid;
    margin: 0.3rem;
    background-color: #fff;
    color: var(--primarycolor);
    border-radius: 50%;
    text-align: center;
}
.online-offline{
    height: 0.5rem;
    width: 0.5rem;
    position: relative;
    right: 2.1rem;
    top: -1rem;
}
.cart{
    height: 2.5rem;
    width: 2.5rem;
}
.cart-badge{
    position: relative;
    bottom: 2rem;
    right: 1rem;
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    border: 1px white solid;
    margin: 0.3rem;
    background-color:var(--primary);
    color: white;
    border-radius: 50%;
    text-align: center;
}
.card-img{
    height: 12rem;
}
.card{
    border: black 1px solid;
    margin: 1rem;
    width: auto;
    text-align: center;
    height: fit-content;
}
.card-data {
    margin: 0.8rem;
  }
.card-div{
    display: flex;
    flex-wrap: wrap;
}
.category-card {
    margin: 2rem;
    border: 8px solid grey;
    height: auto;
    width: 20%;
  }
.card-badge{
    position: relative;
    top: 1.7rem;
    right: 3.5rem;
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    border: 1px white solid;
    margin: 0.3rem;
    background-color:palevioletred;
    color: white;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 3rem;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--primarycolor);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 90%;
    margin-left: -50px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primarycolor) transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-duration: 0.05s;
}
#toast{
  visibility: hidden;
  min-width: 20rem;
  margin-left: -20rem;
  background-color: var(--secondary);
  color: var(--textColor);
  text-align: center;
  border-radius: 0.1rem;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 1rem;
  font-size: 1.5rem;
}
#toast.show{
    visibility: visible;
}
.search-inout{
    position: absolute;
}
.search-icon{
    position: relative;
    left: -3%;
}
.footer{
    text-align: center;
    background-color: var(--primarycolor);
    color: white;
    padding: 2rem 1rem;
  }
  .footer .link{
    color: white;
    margin: 0.5rem;
    text-decoration: none;
  }
  .footer ul {
    padding-inline-start: 0px;
    list-style: none;  
  }
  
  .footer .footer-header{
    font-weight: bold;
    font-size: large;
    margin: 1rem;
  }
@media only screen and (max-width: 600px){
    .nav{
        display: none;
        height: auto;
        width: 10rem;
        background-color: var(--primarycolor);
        position: fixed;
        right: 0;
        top: auto;
        padding: 1rem;
        z-index: 1;
    }
    .category-card{
        width: auto;
    }
    .nav a{
        color: var(--light-grey);
        padding: 1rem;
        display: block;
        text-decoration: none;
    }
    .nav a:hover{
        color: var(--secondarycolor);
    }
    .ham{
        visibility: visible;
    }
    .nav-bar:hover .nav{
        display: block;
    }
    .input-fields{
          margin: 1rem;
    }
    .card{
        width: auto;
    }
}
